<ion-view view-title="Profile">
	<ion-content class="padding">
		<div class="list">
		    <div class="item item-thumbnail-left" href="#">
		      	<img src="../img/adam.jpg">
		      	<h2>userProfile.nombre</h2>
		      	<p>userProfile.edad</p>
		      	<p>userProfile.sexo</p>
		      	<p>userProfile.cumpleaños</p>
		    </div>
		</div>
		    
	    <h2>Lugares concurridos</h2>
	    <div class="list">
		  	<div class="item item-divider">
		    	Lugares de comida
		  	</div>
		  	<!-- uno por cada lugar de comida -->
		  	<div class="item" href="#">
		    	Visitas a McDonald:
			    <span class="item-note">
			      	Número
			    </span>
		  	</div>
		  	<div class="item" href="#">
		    	Visitas a Burger King:
			    <span class="item-note">
			      	Número
			    </span>
		  	</div>
		  	<div class="item" href="#">
		    	Visitas a El Balón:
			    <span class="item-note">
			      	Número
			    </span>
		  	</div>

		  	<div class="item item-divider">
		    	Boliches
		  	</div>

		  	<div class="item" href="#">
		    	Visitas a Recorcholis:
			    <span class="item-note">
			      	Número
			    </span>
		  	</div>

		  	<div class="item" href="#">
		    	Visitas a Lancaster:
			    <span class="item-note">
			      	Número
			    </span>
		  	</div>
		</div>
		
		<h2>Respecto a ubicación</h2>
		<div class="list">
			<label class="item item-input item-select">
		    	<div class="input-label">
		      		Ubicación Actual
		    	</div>
		    	<select>
		      		<option>Ubicación 1</option>
		      		<option>Ubicación 2</option>
		      		<option>Ubicación 3</option>
		    	</select>
		  	</label>
		</div>

		<div class="list">
		  	<div class="item item-divider">
		    	Lugares cercanos
		  	</div>
			<div class="item" href="#">
		    	Lugar 1
		  	</div>
		  	<div class="item" href="#">
		    	Lugar 2
		  	</div>
		  	<div class="item" href="#">
		    	Lugar 3
		  	</div>
		</div>
		
		<a class="button button-block button-positive" href = '#/tab/particularAdds'>
		  	Ver Promociones
		</a>

	</ion-content>
</ion-view>